<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="font-size:25px">
      <div class="page">
        <% include components/top.inc.ejs%>
        <div style="font-size:25px">
            我是管理首页
        </div>
      </div>

  </body>
</html>
